body {
    /* background-image: url(img/ulang.jpg);
    background-repeat: no-repeat;
    background-size:  1352px  1230px;
} */
background-color: #d1846c;
}
.medsos {
  margin-bottom: 2px;
  padding-bottom: 2px;
}
.medsos ul li {
  display: inline-block;
  color: white;
  margin-right: 10px;
  margin-bottom: 1px;
}
mark {
  width: 100px;
  height: 100px;
  background: #004258;
  position: relative;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
#tag {
  margin-top: 0;
  margin-bottom: 24px;
  letter-spacing: 3px;
}
mark {
  background: #fff;
  color: #d1846c;
  padding: 5px 5px;
}
header ul {
    float: right;
    margin-top: -1%;
}
.container {
  background-color: #fff;
  /* padding-top: 1px;
  padding-bottom: 10px; */
  justify-content: space-between;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
  height: 30%;
}
header ul li {
    display: inline-block;
}
header {
  justify-content: space-around;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
    margin-top: 1px;
    font-family: 'Temporarium', sans-serif;
                                                                                                                                 
}
header ul li a:hover {
    background-color: #d1846c;
    color: #fff;
    border-radius: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.medsos ul li a:hover {
  background-color: #d1846c;
  color: #fff;
  border-radius: 50px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.content1 span {
  color: #fff;
  margin-left: 20%;
  margin-top: 10%;
  font-size: 25px;
}
li a {
    display: block;
    color: #3a3a3a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  
  img {
    border-radius: 900px;
    margin-top: 5%;
    margin-left: 40%;
    width: 100%;
    max-width: 220px;
  }
.content1 {
    display:grid;
    grid-template-columns: 50% auto;
    padding-top: 8%;   
    /* margin-left: 5%;                                        */
}
.content2 h2 {
  font-family: 'Regisha', sans-serif;
  font-size: 30px;                                              
  color: #d1846c;                                             
}
.text1 {
  font-family: 'Sparky Stones', sans-serif;
  font-size: 24px;
  margin-left: 5%;
  margin-right: 10%;                                     
}
span {
  font-family: 'Sparky Stones', sans-serif;
   font-size: 20px;                                             
}
.content2 {
    background-color: #fff;
    border-radius: 30px;
    margin-top: 70px;
    margin-right: 230px;
    margin-left: 200px;
    padding-bottom: 70px;
    padding-top: 15px;
    padding-left: 13px;
    padding-right: 20px;
    margin-bottom: 30px;
}
  
  .gallery {
    display: flex;
    margin-left: -25px;
    margin-right: -25px;
  }
  
  .images {
    padding: 15px 15px;
    border-radius: 0px;
  }
  figure { margin:0%; }
  figcaption { text-align: center; }
  figcaption span {
    display: block;
    color: #333333;
    font-size: 15px;
  }
  .section {
    text-align: center;
  }
  .content2 img {
    border-radius: 0px;
    margin-right: 50px;
    margin-left: 25px;
  }
  .nav2 {
    display: block;
    color: #3a3a3a;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 14px 16px;
  }
  hr {
    width: 70%;
    border : 0.5px solid #ccc;
}
.section-header {
  text-align: center;
  color: #333333;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top : -50px;
}
table {
  width: 100%;
  border-spacing: 0;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

th {
  color : #333333;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #a0745f;
  padding-top: 3%;
}
.medsos ul li a:hover {
  background-color: #d1846c;
  color: #fff;
  border-radius: 50px;
  padding-bottom: 5px;
  padding-top: 5px;
}
td {
  text-align: center;
  padding: 10px 15 px;
  padding-bottom: 10px;
}
.text-left {text-align: left;}
tr:nth-child(odd) { background-color: #caa282; }

/* tr.tr-header {
    background-color: #a0745f;
} */
  .content3 img{
    border-radius: 100px;
    margin-right: -50px;
    margin-left: 1px;
    padding-right: 5px;
    padding-left: -5px;
}
mark {
  font-family: 'Vescona', sans-serif;
                                                
}
.content3 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.content4 {
  display: flex;
  margin-left: 50px;
  padding-left: 50px;
}
.content5 {
  padding-bottom: 10px;
  text-align: center;
  padding-top: 100px;
  border-radius: 50px;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}

.gallery1 {
  display: flex;
  border-radius: 100px;
}
.content5 img {
  margin-right: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
  height: 180px;
  width: 180px;
}
.name {
  font-family: 'Vescona', sans-serif;                                                                                         
  font-size: 13px;
  padding-left: 12px;
  padding-right: 1px;
}


@media screen and (max-width: 360px) {
  body {
    background-size: 505px 740px;
  }
  
  header ul li a:hover {
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header ul li a {
    font-size: 9px;
    padding: 6px;
}
mark {
  width: 50px;
  height: 50px;
  position: relative;
  animation: mymove 3s infinite;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 30px;}
}
mark {
  background: #fff;
  color: #caa282;
  padding: 5px 5px;
  font-size: 5px;
}
.medsos {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* .medsos ul li {
  display: inline-block;
  color: white;
  margin-right: 10px;
  margin-bottom: 1px;
} */
.medsos ul {
  padding: 1px;
  display: flex;
  margin-top: -26px;
  float: left;
}
.medsos ul li {
  padding: 5px;
  max-width: 3px;
}
.medsos ul li a {
  font-size: 10px;
  padding: 2px;
  display: inline-block;
  margin: -50;
}
.content1 span {
  font-size: 12px;
  margin-left: 5%;
  margin-top: 25%;
}
header ul {
  float: right;
  margin-top: -1px;
}
.text1 {
  font-size: 12px;
  margin-left: 5%;
  margin-right: 11%;
}
#tag {
  margin-top: 5px;
  margin-bottom: 15px;
  letter-spacing: 3px;
}
img {
  max-width: 100px;
  margin-left: 12px;
}
.content1 img {
  margin-left: 25%;
}
.content1 {
  font-size: 9px;
  margin-top: 55px;
  margin-right: 5px;
}
.content2 h2 {
  font-size: 13px;
}
.content5 {
  font-size: 9px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7%;
}
.content5 img {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  justify-content: space-around;
}
.content2 {
  background-color: #fff;
  border-radius: 30px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 25px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}

.content3 img {
    border-radius: 150px;
    /* margin-right: 0px;
    margin-left: 1px; */
    padding-left: 4px;
    padding-right: 0px;
    max-width: 37px;
    /* padding: 0px; */
}
.content5 img {
  margin-right: 5px;
  margin-left: 35px;
}
.content2 h5 {
  font-size: 5px;

}
.name {
  font-size: 1px;
  font-family: 'Sparky Stones', sans-serif;                                             
  padding-left: 0px;
  padding-right: 1px;                                          
}
.figcaption {
  font-size: 5px;
}
.content4 {
  padding-left: 10px;
}
table {
  width: 100%;
  border-spacing: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.section {
  text-align: center;
  font-size: 10px;
}
.text-left {
  text-align: left;
}
tr:nth-child(odd) { background-color: #caa282; }

tr.tr-header {
    background-color: #a0745f;
    height: 10px;
    justify-content: space-between;
}
.tr-header th {
  font-size: 12px;
}
.section-header {
  font-size: 15px;
}
.content2 img {
  margin-right: 15px;
  margin-left: 4px;
  width: 70px;
}
.content4 {
  margin-left: 20px;
  padding-left: 20px;
}
figcaption span {
  display: block;
  color: #333333;
  font-size: 10px;
}
span {
  font-size: 10px;
}
.name {
  font-size: 6px;
}
.content3 {
  text-align: center;
}
.container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 0%;
  margin-left: 0%;
}


}